<!DOCTYPE html>
<html ng-app="app">

<head>
    <link rel="stylesheet" type="" href="libs/bootstrap.css">
    <script src="libs/angular.js"></script>
    <script src="libs/app.js"></script>
</head>

<body ng-controller="mainCtrl">
    <table class="table">
        <thead>
            <th><label for="cnm">Name</label><input id="cnm" type="checkbox" class="checkbox" ng-model="mode.name" ng-false-value="'name'"
                /></th>
            <th><label for="cprc">Price</label><input id="cprc" type="checkbox" class="checkbox" ng-model="mode.price" ng-false-value="'price'"
                /></th>
            <th><label for="cctgr">Category</label><input id="cctgr" type="checkbox" class="checkbox" ng-model="mode.category"
                    ng-false-value="'category'" /></th>
            <th><label for="ccnt">Count</label><input id="ccnt" type="checkbox" class="checkbox" ng-model="mode.count" ng-false-value="'count'"
                /></th>
            <th><label for="ctx">Tax</label><input id="ctx" type="checkbox" class="checkbox" ng-model="mode.tax" ng-false-value="'tax'"
                /></th>
            <th><label for="cxp">Expiriation</label><input id="cxp" type="checkbox" class="checkbox" ng-model="mode.expiration"
                    ng-false-value="'expiration'" /></th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td ng-switch on="mode.name">
                    <div ng-switch-when="true">
                        {{item.name}}
                    </div>
                </td>
                <td ng-switch on="mode.price">
                    <div ng-switch-when="true">
                        {{item.price}}
                    </div>
                </td>
                <td ng-switch on="mode.category">
                    <div ng-switch-when="true">
                        {{item.category}}
                    </div>
                </td>
                <td ng-switch on="mode.count">
                    <div ng-switch-when="true">
                        {{item.count}}
                    </div>
                </td>
                <td ng-switch on="mode.tax">
                    <div ng-switch-when="true">
                        {{item.tax}}
                    </div>
                </td>
                <td ng-switch on="mode.expiration">
                    <div ng-switch-when="true">
                        {{item.expiration}}
                    </div>
                </td>
            </tr>
        </tbody>
        
    </table>

</body>

</html>