<div class="container jumbotron" id="maintable">
    <h2 class="text-center"><span>New User Registration Form</span></h2>
    <form name='newuser' novalidate>
        <div class="form-group">
            <label for="name">First name</label>
            <input class="form-control" name='name' placeholder="Enter your first name" ng-model="data.name" ng-required='true'>
        </div>
        <div class="form-group">
            <label for="employees">E-mail</label>
            <input class="form-control" name='email' placeholder="Enter your email" ng-model="data.email" ng-required='true' type="email">

        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" name='password' type='password' placeholder="Enter your password" ng-model="data.password" ng-required='true'>
        </div>
        <input type="submit" value='Register'>
    </form>
</div>