<!DOCTYPE html>
<html ng-app="app">

<head>
    <link rel="stylesheet" type="" href="libs/bootstrap.css">
    <script src="libs/angular.js"></script>
    <script src="libs/app.js"></script>
</head>

<body ng-controller="mainCtrl">
    <table class="table">
        <thead>
            <th><label for="cnm">Name</label><input id="cnm" type="checkbox" class="checkbox" ng-click="nameShowTable()"></th>
            <th><label for="cprc">Price</label><input id="cprc" type="checkbox" class="checkbox" ng-click="priceShowTable()"></th>
            <th><label for="cctgr">Category</label><input id="cctgr" type="checkbox" class="checkbox" ng-click="categoryShowTable()"></th>
            <th><label for="ccnt">Count</label><input id="ccnt" type="checkbox" class="checkbox" ng-click="countShowTable()"></th>
            <th><label for="ctx">Tax</label><input id="ctx" type="checkbox" class="checkbox" ng-click="taxShowTable()"></th>
            <th><label for="cxp">Expiriation</label><input id="cxp" type="checkbox" class="checkbox" ng-click="expirationShowTable()"></th>
        </thead>
        <tbody>
            <tr ng-repeat="i in items">
                <td ng-include="nameUrl"></td>
                <td ng-include="priceUrl"></td>
                <td ng-include="categoryUrl"></td>
                <td ng-include="countUrl"></td>
                <td ng-include="taxUrl"></td>
                <td ng-include="expirationUrl"></td>
            </tr>
        </tbody>

    </table>

</body>

</html>