<form name="contactForm">
    <label>username:   <input type="text" class="input-lg" name="userName"/></label>
    <label>age:   <input type="text" class="input-lg" name="age" /></label>
    <label>email: <input type="email" class="input-lg" name="userEmail" /></label>
    <label>employed: <input type="checkbox" name="employed"></label>
</form>

<ul ng-controller="mainCtrl">
    <li ng-repeat="d in data">
        <a href="contact/{{d.name}}/{{d.age}}/{{d.email}}/{{d.employed}}">
           {{d.name}}
           </a>
    </li>
</ul>