<div class="container jumbotron" id="maintable">
    <h2 class="text-center"><span>New User Registration Form</span></h2>
    <form name='newuser' novalidate>
        <div class="form-group">
            <label for="name">First name</label>
            <input class="form-control" name='name' ng-pattern="nameRegEx" ng-class="newuser.name.$invalid && newuser.name.$dirty"
                placeholder="Enter your first name" ng-model="data.name" required>
        </div>
        <div class="form-group">
            <label for="employees">E-mail</label>
            <input class="form-control" ng-pattern='/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i'
                name='email' placeholder="Enter your email" ng-model="data.email" required type="email">

        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" name='password' ng-pattern='/^[A-Za-z0-9!@#$%^&*()_]{6,20}$/' type='password' placeholder="Enter your password"
                ng-model="data.password" ng-required='true'>
        </div>
        <input type="submit" value='Register'>
    </form>
</div>